<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Signup-Shopmate</title>

    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #111;
        font-family: Roboto;
      }

      .signup-box {
        background: white;
        padding: 40px;
        border-radius: 15px;
        width: 350px;
        text-align: center;
      }

      input,
      button {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
      }
    </style>
  </head>

  <body>
    <div class="signup-box">
      <h2>Create Account</h2>

      <form method="POST">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Username" required />

        <input
          type="email"
          name="email"
          placeholder="Gmail only"
          pattern="^[a-zA-Z0-9._%+-]+@gmail\.com$"
          required
        />

        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />

        <input
          type="password"
          name="confirm_password"
          placeholder="Confirm Password"
          required
        />

        <button type="submit">Sign Up</button>
      </form>

      <a href="/login/">Already have account?</a>
    </div>
  </body>
</html>
