<!doctype html>
<html>
  <head>
    <title>Verify OTP</title>
  </head>
  <body style="text-align: center; margin-top: 100px; font-family: Arial">
    <h2>Enter OTP</h2>

    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      <input
        type="text"
        name="otp"
        placeholder="Enter OTP"
        required
        style="padding: 10px; width: 200px"
      />
      <br /><br />
      <button
        type="submit"
        style="
          padding: 10px 20px;
          background: green;
          color: white;
          border: none;
        "
      >
        Verify & Login
      </button>
    </form>
  </body>
</html>
